[Unit]

Descript=postgresql

[Service]

Type=simple

RemainAfterExit=yes

ExecStart=/etc/systemd/system/iniciabanco.sh start

[Install]

WantedBy=multi-user.target
